.about-image {
  width: 100%;
  height: auto;
}
.aboutMe {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 500;
  margin-top: 1rem;
}

.aboutMe img {
  height: 3rem;
  transform: scale(1.2);
  margin-right: 1rem;
}

.testCard {
  padding: 2rem;
width: 100%;
background-color: #66000000;
}

.testList {
  user-select: none;
  width: 40%;
  padding-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.testTitle {
  background-color: rgb(99, 128, 135);
  color: white;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
  border-radius: 30px;
}


.testCard .testText {
  margin: 20px;
  opacity: 0.6;
  color: rgb(103, 103, 162);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testCard:hover {
  box-shadow: 0px 3px 15px rgba(228, 181, 181, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
  transform: scale(1.2);
}

@media only screen and (max-width: 1300px) {
  .descriptionList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .testList {
    width: 400px;
    font-size: smaller;
    /* padding-bottom: 2rem; */
    /* grid-template-columns: 1fr; */
    padding: 2rem;
  }
  .testText{
    height:100%
  }
}
