.description {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 500;

  margin-top: 1rem;
}

.description h1 {
  font-weight: bolder;
  padding-bottom: 2rem;
  opacity: 0.7;
  font-size: 25px;
}

.descriptionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.descriptionGrid h6 {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom:20px;
}


.descriptionList {
  display: grid;
  grid-template-columns: 1fr ;
  user-select: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  border-radius: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  border-color: black;
  color: #f8f5f5;
  background-color: rgb(83, 83, 128);
  opacity: 0.5;
}

.descriptionList:hover {
  transform: scale(1.2);
}

.testList {
  display: grid;
  place-items: center;
  user-select: none;
  padding-bottom: 2rem;
}

.descriptionTitle {
  background-color: rgb(99, 128, 135);
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.description img {
  height: 3rem;
  transform: scale(1.2);
  margin-right: 1rem;
}

.proficient {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  width: 20rem;
  padding-top: 2rem;
}

@media only screen and (max-width: 1300px) {
  .descriptionList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .descriptionList {
    width: 300px;
 
    display: flex;
    justify-content: flex-start;
  }

  .descriptionGrid h6 {
    font-weight: light;
    text-align: center;
  }

  .descriptionGrid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .proficient {
    padding-bottom: 1rem;
  }
}
