.home {
  width: 100%;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7192a5;
  background-repeat: repeat;
  color: #f0f0f0;
}

.about h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #e2c6ad;
  height: 50px;
  font-weight: 800;
}

.about img {
  max-height: 20rem;
  margin-top: 5rem;
  transition: 0s;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
  margin-top: 2rem;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.skills .list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top:  80px
  }
  .about img {
  height: 250px
  }
  .about .prompt {
  
    font-size: 20px;
    width: 80%;
    font-weight: bold;
    padding-bottom: 5rem;
  }

  .home {
    padding-bottom: 4rem;
  }

  .skills {
    text-align: start;
    font-size: 20px;
    /* grid-template-columns: 1fr; */
  }
  .list {
    padding: 0;
    font-size: 20px;
  }

 
  .skills h1 {
    font-size: 30px;
    /* margin-bottom: 3rem; */
    /* margin-top: 6rem; */
  }
}
