.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ded0d8;
    opacity: 0.9;
    z-index: 2;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.popup-inner {
    position: relative;
    padding:32px;
    width: 100%;
    max-width: 640px;
    /* background-color: #7cb0c8; */
    background-color: #66000000;
}
.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    
    
}