.project {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 2rem;
}

.projectGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.project img {
  margin-top: 1.4rem;
  max-height: 320px;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 10px solid rgb(156, 205, 200);
}
.project img:hover {
  transform: scale(1.1);
}
.project h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(170, 205, 255);

}
.projectContent {
  background-color: rgb(142, 189, 173);
  height: 100%;
  width: 680px;
  color: #e2e3e7;
    border-radius: 30px;
}
.projectCardText {
  font-size: 16px;
  color: #7e94ed;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2em;
  padding-bottom: 1rem;
}
.projectCardTitle {
  font-weight: bold;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 1rem;

}

@media only screen and (max-width: 2000px) {
  .project {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;
  }
}
@media only screen and (max-width: 800px) {
  .project {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: auto;
  }
  .projectGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .projectContent {
    height: 100%;
    width: 400px;
  }
}
